<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <RollingFile name="plainLogger"
                     fileName="hellfrog.log"
                     filePattern="hellfrog_%d{yyyy-MM-dd}_%i.log.gz"
                     append="true">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level [%t] %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 0 * * * ?"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="plainLogger"/>
        </Root>
    </Loggers>
</Configuration>