<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <RollingFile name="plainLogger"
                     fileName="hellfrog_common.log"
                     filePattern="hellfrog_common_%d{yyyy-MM-dd}_%i.log.gz"
                     append="true">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%t] [%logger{36}] %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 0 * * * ?"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="cmdLogger"
                     fileName="hellfrog_cmds.log"
                     filePattern="hellfrog_cmds_%d{yyyy-MM-dd}_%i.log.gz"
                     append="true">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 0 * * * ?"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="hibernateLogger"
                     fileName="hellfrog_sql.log"
                     filePattern="hellfrog_sql_%d{yyyy-MM-dd}_%i.log.gz"
                     append="true">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%t] [%logger{36}] %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 0 * * * ?"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="Commands debug" level="info" additivity="false">
            <AppenderRef ref="cmdLogger"/>
        </Logger>
        <!--<logger name="org.hibernate.SQL" level="trace"/>
        <logger name="org.hibernate.tool.hbm2ddl" level="trace"/>-->
        <Logger name="bruva.settings.DAO.CommonSettingsDAO" level="info" additivity="false">
            <AppenderRef ref="hibernateLogger"/>
        </Logger>
        <Logger name="bruva.settings.AutoSession" level="info" additivity="false">
            <AppenderRef ref="hibernateLogger"/>
        </Logger>
        <Logger name="org.hibernate" level="info" additivity="false">
            <AppenderRef ref="hibernateLogger"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="plainLogger"/>
        </Root>
    </Loggers>
</Configuration>