<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <RollingFile name="plainLogger"
                     fileName="logs/hellfrog_common.log"
                     filePattern="logs/hellfrog_common_%d{yyyy-MM-dd}_%i.log.gz"
                     append="true">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%t] [%logger{36}] %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <CronTriggeringPolicy schedule="0 0 0 * * ?" evaluateOnStartup="true"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="cmdLogger"
                     fileName="logs/hellfrog_cmds.log"
                     filePattern="logs/hellfrog_cmds_%d{yyyy-MM-dd}_%i.log.gz"
                     append="true">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <CronTriggeringPolicy schedule="0 0 0 * * ?" evaluateOnStartup="true"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="sqlLogger"
                     fileName="logs/hellfrog_sql.log"
                     filePattern="logs/hellfrog_sql_%d{yyyy-MM-dd}_%i.log.gz"
                     append="true">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%t] [%logger{36}] %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <CronTriggeringPolicy schedule="0 0 0 * * ?" evaluateOnStartup="true"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="Commands debug" level="info" additivity="false">
            <AppenderRef ref="cmdLogger"/>
        </Logger>
        <Logger name="DB controller" level="info" additivity="false">
            <AppenderRef ref="sqlLogger"/>
        </Logger>
        <Logger name="Schema version checker" level="info" additivity="false">
            <AppenderRef ref="sqlLogger"/>
        </Logger>
        <Logger name="JSON legacy loader" level="info" additivity="false">
            <AppenderRef ref="sqlLogger"/>
        </Logger>
        <Logger name="Common preferences" level="info" additivity="false">
            <AppenderRef ref="sqlLogger"/>
        </Logger>
        <Logger name="Bot owners" level="info" additivity="false">
            <AppenderRef ref="sqlLogger"/>
        </Logger>
        <Logger name="Server preferences" level="info" additivity="false">
            <AppenderRef ref="sqlLogger"/>
        </Logger>
        <Logger name="Entity rights (user_rights)" level="info" additivity="false">
            <AppenderRef ref="sqlLogger"/>
        </Logger>
        <Logger name="Entity rights (role_rights)" level="info" additivity="false">
            <AppenderRef ref="sqlLogger"/>
        </Logger>
        <Logger name="Entity rights (text_channel_rights)" level="info" additivity="false">
            <AppenderRef ref="sqlLogger"/>
        </Logger>
        <Logger name="Entity rights (category_rights)" level="info" additivity="false">
            <AppenderRef ref="sqlLogger"/>
        </Logger>
        <Logger name="User rights" level="info" additivity="false">
            <AppenderRef ref="sqlLogger"/>
        </Logger>
        <Logger name="Role rights" level="info" additivity="false">
            <AppenderRef ref="sqlLogger"/>
        </Logger>
        <Logger name="Channel rights" level="info" additivity="false">
            <AppenderRef ref="sqlLogger"/>
        </Logger>
        <Logger name="Category rights" level="info" additivity="false">
            <AppenderRef ref="sqlLogger"/>
        </Logger>
        <Logger name="Votes" level="info" additivity="false">
            <AppenderRef ref="sqlLogger"/>
        </Logger>
        <Logger name="org.hibernate" level="info" additivity="false">
            <AppenderRef ref="sqlLogger"/>
        </Logger>
        <Logger name="DB session" level="info" additivity="false">
            <AppenderRef ref="sqlLogger"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="plainLogger"/>
        </Root>
    </Loggers>
</Configuration>